{
  "parser": "babel-eslint",
  "extends": ["eslint-config-airbnb", "prettier", "prettier/react"],
  "rules": {
    "indent": [2, 2, { "SwitchCase": 1 }],
    "no-console": [0],
    "func-names": [0],
    "semi": [2, "never"],
    "no-extra-semi": [2],
    "no-else-return": [0],
    "space-infix-ops": [0],
    "react/prefer-es6-class": [0],
    "react/prefer-stateless-function": [0],
    "react/forbid-prop-types": [0],
    "react/no-unused-prop-types": [0],
    "react/jsx-filename-extension": [0],
    "react/no-string-refs": [0],
    "import/extensions": [0]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
